---
import { useTranslation } from "@/lib/utils";
import type { lenguages } from "@/i18n/ui";

const currentLang = Astro.currentLocale || "en";
const t = useTranslation(currentLang as keyof typeof lenguages);
---

<section id="aboutme" class="space-y-4 scroll-mt-24">
  <h3 class="text-3xl font-titan-one uppercase  text-terciary">
    About Me
  </h3>
  <p class="text-base  leading-relaxed">
    {t("about.intro.paragraph1")}
  </p>
</section>
